<body>
  <form class="form-signin" [formGroup]= "formLogin"  (ngSubmit)= "validarUsuario()">
    <div class="text-center mb-4">
      <img class="mb-4"
        src="https://img.flaticon.com/icons/png/512/303/303653.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF"
        alt="" width="150" height="75">
      <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    </div>
    <div class="form-label-group">
      <input type="text" formControlName="inputNombreUsuario" class="form-control" placeholder="Nombre Usuario" required autofocus>
    </div>
    <br>
    <div class="form-label-group">
      <input type="password" formControlName="inputPassword" class="form-control" placeholder="Password" required autofocus>
    </div>
    <br>
    <button [disabled]= "formLogin.invalid" class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesion</button>
  </form>
</body>