<app-menu-admin></app-menu-admin>
<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <div *ngIf="getOpcionA()== 'asignarEtiqueta' ">
               <app-asig-etiqueta></app-asig-etiqueta>
            </div>
            <div *ngIf="getOpcionA()=='asignarCategoria'">
               <app-asig-categoria></app-asig-categoria>
              </div>
            <div *ngIf="getOpcionA()== '' ">
                <app-home-login></app-home-login>
             </div>
            <div *ngIf="getOpcionA()== 'modAdmin' ">
                <app-mod-admin></app-mod-admin>
            </div>
            <div *ngIf="getOpcionA()=='crearPerfilAdmin'">
                <app-crear-admin></app-crear-admin>
            </div>
            <div *ngIf="getOpcionA()=='solRevista'">
               <app-solicitud-revista></app-solicitud-revista>
            </div>
            <div *ngIf="getOpcionA()=='modPorcentaje'">
               <app-porcentaje-soft></app-porcentaje-soft>
             </div>
             <div *ngIf="getOpcionA()=='registrarAnuncio'">
                <app-registrar-anuncio></app-registrar-anuncio>
              </div>
              <div *ngIf="getOpcionA()=='modAnuncio'">
                <app-solicitud-anuncios></app-solicitud-anuncios>
              </div>
              <div *ngIf="getOpcionA()=='modCosto'">
                <app-mod-cost-anun></app-mod-cost-anun>
              </div>
              <div *ngIf="getOpcionA()=='RepMasComent'">
                <app-mas-coment-report></app-mas-coment-report>
              </div>
              <div *ngIf="getOpcionA()=='RepMasSus'">
               <app-report-mas-sus></app-report-mas-sus>
              </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row align-items-center">
        <app-end-page></app-end-page>
    </div>
</div>
