<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registroController</servlet-name>
        <servlet-class>com.mycompany.revista.controller.registroController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidacionUsuario</servlet-name>
        <servlet-class>com.mycompany.revista.controller.ValidacionUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetInfoUser</servlet-name>
        <servlet-class>com.mycompany.revista.controller.GetInfoUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>com.mycompany.revista.controller.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidacionAdmin</servlet-name>
        <servlet-class>com.mycompany.revista.controller.ValidacionAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewAdmin</servlet-name>
        <servlet-class>com.mycompany.revista.controller.NewAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetInfoAdmin</servlet-name>
        <servlet-class>com.mycompany.revista.controller.GetInfoAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAdmin</servlet-name>
        <servlet-class>com.mycompany.revista.controller.UpdateAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateA</servlet-name>
        <servlet-class>com.mycompany.revista.controller.UpdateA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveEtiqueta</servlet-name>
        <servlet-class>com.mycompany.revista.controller.SaveEtiqueta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getEtiquetas</servlet-name>
        <servlet-class>com.mycompany.revista.controller.getEtiquetas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveEtiquetaUser</servlet-name>
        <servlet-class>com.mycompany.revista.controller.saveEtiquetaUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCategoria</servlet-name>
        <servlet-class>com.mycompany.revista.controller.getCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveRevista</servlet-name>
        <servlet-class>com.mycompany.revista.controller.SaveRevista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OnlyFile</servlet-name>
        <servlet-class>com.mycompany.revista.controller.OnlyFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRevista</servlet-name>
        <servlet-class>com.mycompany.revista.controller.GetRevista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRevistaEspera</servlet-name>
        <servlet-class>com.mycompany.revista.controller.GetRevistaEspera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AceptarRev</servlet-name>
        <servlet-class>com.mycompany.revista.controller.AceptarRev</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActuRev</servlet-name>
        <servlet-class>com.mycompany.revista.controller.ActuRev</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavEtiquetaRev</servlet-name>
        <servlet-class>com.mycompany.revista.controller.SavEtiquetaRev</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getPorcentaje</servlet-name>
        <servlet-class>com.mycompany.revista.controller.getPorcentaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRevistasUser</servlet-name>
        <servlet-class>com.mycompany.revista.controller.GetRevistasUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRevistasForName</servlet-name>
        <servlet-class>com.mycompany.revista.controller.GetRevistasForName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEtiquetasUser</servlet-name>
        <servlet-class>com.mycompany.revista.controller.GetEtiquetasUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registroController</servlet-name>
        <url-pattern>/registroController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidacionUsuario</servlet-name>
        <url-pattern>/ValidacionUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetInfoUser</servlet-name>
        <url-pattern>/GetInfoUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidacionAdmin</servlet-name>
        <url-pattern>/ValidacionAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewAdmin</servlet-name>
        <url-pattern>/NewAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetInfoAdmin</servlet-name>
        <url-pattern>/GetInfoAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAdmin</servlet-name>
        <url-pattern>/UpdateAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateA</servlet-name>
        <url-pattern>/UpdateA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveEtiqueta</servlet-name>
        <url-pattern>/SaveEtiqueta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getEtiquetas</servlet-name>
        <url-pattern>/getEtiquetas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveEtiquetaUser</servlet-name>
        <url-pattern>/saveEtiquetaUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCategoria</servlet-name>
        <url-pattern>/getCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveRevista</servlet-name>
        <url-pattern>/SaveRevista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OnlyFile</servlet-name>
        <url-pattern>/OnlyFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRevista</servlet-name>
        <url-pattern>/GetRevista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRevistaEspera</servlet-name>
        <url-pattern>/GetRevistaEspera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AceptarRev</servlet-name>
        <url-pattern>/AceptarRev</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActuRev</servlet-name>
        <url-pattern>/ActuRev</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavEtiquetaRev</servlet-name>
        <url-pattern>/SavEtiquetaRev</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getPorcentaje</servlet-name>
        <url-pattern>/getPorcentaje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRevistasUser</servlet-name>
        <url-pattern>/GetRevistasUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRevistasForName</servlet-name>
        <url-pattern>/GetRevistasForName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEtiquetasUser</servlet-name>
        <url-pattern>/GetEtiquetasUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
        <init-param>
            <param-name>cors.allowed.origins</param-name>
            <param-value>http://localhost:4200</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.methods</param-name>
            <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
        </init-param>
        <init-param>
            <param-name>cors.allowed.headers</param-name>
            <param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
        </init-param>
        <init-param>
            <param-name>cors.exposed.headers</param-name>
            <param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
        </init-param>
        <init-param>
            <param-name>cors.support.credentials</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
