<div class="container marketing">
    <br><br><br><br><br><br>
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="mb-4"
                src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.4yj11n1mMLYIIdBMrnxXUgHaE7%26pid%3DApi&f=1"
                alt="" width="150" height="75">

            <h2>ANUNCIOS</h2>
            <p>Recuerda que puedes anunciarte con nosotros con los mejores precios, y a tu gusto. contactanos</p>
        </div><!-- /.col-lg-4 -->

    </div><!-- /.row -->
</div>