<app-menu-user></app-menu-user>
<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <div *ngIf="getOp()== 'perfil' ">
                <app-perfil-home></app-perfil-home>
            </div>
            <div *ngIf="getOp()== 'modPerfil' ">
                <app-mod-perfil></app-mod-perfil>
            </div>
            <div *ngIf="getOp()== 'verRevista' ">
                <app-ver-revista></app-ver-revista>
            </div>
            <div *ngIf="getOp()=='registrarEtiqueta'">
                <app-registrar-etiqueta></app-registrar-etiqueta>
            </div>
            <div *ngIf="getOp()=='subirRevista'">
                <app-subir-revista></app-subir-revista>
            </div>
            <div *ngIf="getOp()=='verMisRevistas'">
                <app-ver-mis-revistas></app-ver-mis-revistas>
            </div>
            <div *ngIf="getOp()=='buscarRevista'">
               <app-buscar-revista></app-buscar-revista>
            </div>
            <div *ngIf="getOp()=='misSusccripciones'">
               <app-mis-suscripciones></app-mis-suscripciones>
             </div>
             <div *ngIf="getOp()=='repComentariosRevista'">
               <app-reporte1></app-reporte1>
              </div>
        </div>
        <div *ngIf="getSpan()==(0)" class="col">
            <app-spam></app-spam>
        </div>
    </div>
    <div class="row align-items-center">
        <app-end-page></app-end-page>
    </div>
</div>