<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-0 btn">
    <a class="navbar-brand" (click)="cambiarHoja('')">Revista-App: {{this.adminF.nombre_usuario}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" (click)="cambiarHoja('asignarEtiqueta')">Añadir Etiquetas</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" (click)="cambiarHoja('asignarCategoria')">Añadir Categoria</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" (click)="cambiarHoja('crearPerfilAdmin')">Crear Nuevo</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" (click)="cambiarHoja('modAdmin')">Modificar Admin</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" (click)="cambiarHoja('solRevista')">Solicitud de Revistas</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" (click)="cambiarHoja('modPorcentaje')">Modificar Porcentaje</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" (click)="cambiarHoja('registrarAnuncio')">Registrar Anuncio</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" (click)="cambiarHoja('modAnuncio')">Ver Anuncios</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" (click)="cambiarHoja('modCosto')">Costo Anuncios</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" (click)="cambiarHoja('RepMasComent')">Reporte Mas Comentada</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" (click)="cambiarHoja('RepMasSus')">Reporte Mas Suscrito</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" (click)="cambiarHoja('RepMasAnuncio')">Reporte Anuncio</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" (click)="cambiarHoja('RepGananciasRev')">Reporte Ganancias Por Revista</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" (click)="cerrarSesion()">Cerrar Sesion</a>
            </li>
        </ul>
    </div>
</nav>
