<body>
    <form class="form-signin">
      <div class="text-center mb-4">
        <br><br>
        <img class="mb-4"
          src="https://png.pngtree.com/template/20191105/ourlarge/pngtree-webshop-online-shopping-linear-vector-icons-set-image_327975.jpg"
          alt="" width="200" height="125">
        <h1 class="h3 mb-3 font-weight-normal">Registro de Categorias</h1>
      </div>
      <form [formGroup]="formCategoria" (ngSubmit)="saveCategoria()">
        <div class="form-label-group">
          <a>Escribe el Nombre de la Categoria:</a>
          <input formControlName="nameCategoria" type="text" maxlength="45" class="form-control"
            placeholder="Nombre Categoria" required autofocus>
        </div>
        <br>
        <button [disabled]="formCategoria.invalid" class="btn btn-primary btn-block" type="submit"> Guardar</button>
      </form>
    </form>
  </body>
  <div class="container">
    <div class="row">
        <div class="col-md-12">
          <div class="table-style">
             <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">NOMBRE DE CATEGORIA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ca of categoria">
                            <th scope="row">{{ ca.nombre_categoria}}</th>
                        </tr>
                    </tbody>
                </table>
          </div>
               
        </div>
    </div>
  </div>
