<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-0 btn">
    <a class="navbar-brand" (click)="CambiarPagina(0)">Revista-App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" (click)="CambiarPagina(1)">Inicia Sesion</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" (click)="CambiarPagina(2)" >Registrarse</a>
            </li>
        </ul>
    </div>
</nav>
  
