<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-0 ">
    <a class="navbar-brand">Bienvenido {{type}}: {{name}} </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse btn" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a (click)="CambiarPagina('perfil')" class="nav-link">Perfil</a>
            </li>
            <div *ngIf=" getOptionMenu() == 'USUARIO' ">
                <li class="nav-item active">
                    <a (click)="CambiarPagina('verRevista')" class="nav-link">Ver Revista</a>
                </li>
            </div>
            <div>
                <li class="nav-item active">
                    <a (click)="CambiarPagina('modPerfil')" class="nav-link">Modificar Perfil</a>
                </li>
            </div>
            <div *ngIf=" getOptionMenu() == 'USUARIO' ">
                <li class="nav-item active">
                    <a (click)="CambiarPagina('registrarEtiqueta')" class="nav-link">Registrar Etiquetas</a>
                </li>
            </div>
            <div *ngIf=" getOptionMenu() == 'USUARIO' ">
                <li class="nav-item active">
                    <a (click)="CambiarPagina('buscarRevista')" class="nav-link">Buscar Revista</a>
                </li>
            </div>
            <div *ngIf=" getOptionMenu() == 'AUTOR' ">
                <li class="nav-item active">
                    <a (click)="CambiarPagina('subirRevista')" class="nav-link">Subir Revista</a>
                </li>
            </div>
            <div *ngIf=" getOptionMenu() == 'AUTOR' ">
                <li class="nav-item active">
                    <a (click)="CambiarPagina('verMisRevistas')" class="nav-link">Ver Mis Revistas</a>
                </li>
            </div>
            <div *ngIf=" getOptionMenu() == 'AUTOR' ">
                <li class="nav-item active">
                    <a (click)="CambiarPagina('repComentariosRevista')" class="nav-link">Reporte Comentarios</a>
                </li>
            </div>
            <div *ngIf=" getOptionMenu() == 'AUTOR' ">
                <li class="nav-item active">
                    <a (click)="CambiarPagina('rep2User')" class="nav-link">Reporte Suscripciones</a>
                </li>
            </div>
            <div *ngIf=" getOptionMenu() == 'AUTOR' ">
                <li class="nav-item active">
                    <a (click)="CambiarPagina('rep4User')" class="nav-link">Reporte Ganancias</a>
                </li>
            </div>
            <div *ngIf=" getOptionMenu() == 'USUARIO' ">
                <li class="nav-item active">
                    <a (click)="CambiarPagina('misSusccripciones')" class="nav-link">Ver Mis Suscripciones</a>
                </li>
            </div>
            <li class="nav-item active">
                <a (click)="cerrarSesion()" class="nav-link">Cerrar Sesion</a>
            </li>
        </ul>
    </div>
</nav>